
    html {
      scroll-behavior: smooth;
    }

    body {
      font-family: Work Sans, sans-serif;
      margin: 0;
      background-color: #f3f8fa;
      color: #333;
    }

    /* NAVBAR */
    nav {
      position: fixed;
      top: 0;
      width: 100%;
      background: white;
      border-bottom: 1px solid #ddd;
      z-index: 1000;
    }

    .nav-container {
      max-width: 900px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
    }

    .nav-links a {
      margin-left: 15px;
      text-decoration: none;
      color: #333;
      font-size: 0.95rem;
    }

    .nav-links a:hover {
      text-decoration: underline;
    }

    /* MAIN CONTENT */
    .container {
      max-width: 900px;
      margin: auto;
      padding: 100px 20px 20px; /* top padding prevents overlap with fixed nav */
    }

    header {
      margin-bottom: 30px;
    }

    header h1 {
      font-size: 2.5rem;
      margin-bottom: 10px;
      text-align: center;
    }

    header h2{
      text-align: center;
    }

    header p {
      color: #666;
      font-size: 1.1rem;
    }

    .img-wrapper{
      display: flex;
      align-items: center;
    }

    .img-wrapper img{
      display:block;
      margin: 0 auto;
      max-width:100%;
    }

    .img-wrapper iframe{
      display:block;
      margin: 0 auto;
    }

    .grid-2-col {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* 3 equal-width columns */
      gap: 30px; /* Optional spacing between items */
      width: 100%;
    }

    .grid-2-col img{
      max-height: 300px;
      max-width: 100%;
      object-fit: contain;
      padding: 0 10px;
      border-radius: 30px;
    }

    .hero{
      width: 100%;
    }

    .hero img {
      display:block;
      margin: 0 auto 0 auto;
      width: 60%;
      height: auto;
      border-radius: 10px;
    }

    .logo{
      width:20%;
    }

    .section {
      background: white;
      padding: 20px;
      margin: 20px auto 0 auto;
      border-radius: 10px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    }

    .section h2 {
      margin-top: 0;
    }

    ul {
      padding-left: 20px;
      list-style-type: disc;
    }

    .cta {
      text-align: center;
      margin: 40px 0;
    }

    .cta a {
      text-decoration: none;
      background: black;
      color: white;
      padding: 12px 24px;
      border-radius: 6px;
      display: inline-block;
    }

    .cta a:hover {
      background: #333;
    }

    .body-wrapper {
      margin: 0 20px 0 20px;
    }

    .opening-statement{
      font-weight:600;
    }
